body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
.container{
    border-radius: 15px;
    width: 900px;
    height: 620px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 10px 20px rgb(168, 166, 166);
   
}
.top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 900px;
    height: 290px;
    background-color: white;
}
.bottomLeft{
    border-bottom-left-radius: 15px;
    width: 450px;
    height: 331px;
    background-color: hsl(179, 63%, 36%);
   display: inline-block;
    
}
.bottomRight{
    border-bottom-right-radius: 15px;
    width: 450px;
    height: 331px;
    background-color: hsl(179, 48%, 50%);
   
}
.title{
    color: hsl(179, 63%, 36%);
    position: relative;
    top: 30px;
    left: 50px;
    font-size: 36px;
}
.subTitle{
    color: hsl(71, 73%, 54%);
    position: relative;
    top: 28px;
    left: 50px;
    font-size: 28px;
    font-weight: 400;
}
.para{
    position: relative;
    font-size: 23px;
    top: 22px;
    left: 50px;
    color: hsl(218, 22%, 67%);
    font-weight: 400;
}
.titleLeft{
    position: relative;
    left: 50px;
    top: 30px;
    color: hsl(204, 43%, 93%);
    font-size: 24px;
}
.price{
    position: relative;
   left: 50px;
    top: 10px;
    color: hsl(204, 43%, 93%);
    font-size: 42px;
}
.period{
    position: relative;
    left: 150px;
   bottom: 60px;
    color: hsl(204, 19%, 79%);
    font-weight: 400;
    font-size: 20px;
}
.subPrice{
    position: relative;
    left: 50px;
    bottom: 60px;
    font-size: 21px;
    font-weight: 400;
    color: hsl(204, 23%, 91%);
}
button{
    position: relative;
    left: 50px;
    bottom: 60px;
    padding: 22px 135px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 4px 10px rgb(53, 83, 62);
    cursor: pointer;
}
.rightTitle{
    color: hsl(204, 100%, 99%);
    position: relative;
    top: 30px;
    left: 50px;
}
.why{
    color: hsl(210, 33%, 94%);
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 20px;
    font-weight: 400; 
    line-height: 26px;
}
